<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Development" value="false" />
		<add key="UserName" value="" />
		<add key="TenantCode" value="TN01" />
		<add key="Language" value="zh-cn"/>
		<add key="IP" value="127.0.0.1"/>
		<add key="Port" value="5000"/>
		<add key="UserId" value="39fc0032-d626-d510-6eb8-038db8ac8613" />
		<add key="TenantId" value="39fd0231-464f-779e-ce7e-a84560688cd0" />
		<add key="AccessToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjM5ZmMwMDMyLWQ2MjYtZDUxMC02ZWI4LTAzOGRiOGFjODYxMyIsInVzZXJuYW1lIjoiZmVuZ2pxIiwibmFtZSI6IuWGr-ePj-W6hiIsInBob25lX251bWJlciI6IjE4NjY4MTgwNjczIiwiZW1haWwiOiIxODA0ODkwOTdAcXEuY29tIiwidGVuYW50aWQiOiIzOWZkMDIzMS00NjRmLTc3OWUtY2U3ZS1hODQ1NjA2ODhjZDAiLCJjbGllbnRfaWQiOiJjY2NjY2xpaWlpaWQiLCJpc3MiOiJMYWlzb24iLCJhdWQiOiJBdWRpZW5jZSIsIkRhdGFQZXJtaXNzaW9uIjoiQ29tcGFueSIsInJvbGUiOiIzNjEyY2FiNC02ZmE1LTRkZjUtNGU3ZS0zOWZiZmE0YmI5NzciLCJPcmdhbml6YXRpb25JZCI6IjM5ZmNjNDFiLWM1NDktMjc3Yy1lYjcxLThjMWQ5MjgwNDgwNiIsIm5iZiI6MTYyNDE1MDQ0NywiZXhwIjoxNjUyOTUwNDQ3LCJpYXQiOjE2MjQxNTA0NDd9.qioUTbFSpT6wsPv3zqSgNpX1x82ici1jcEg5wmYSN3Q" />
	</appSettings>
</configuration>